/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
     
    .overlay-content {
        top: 50px;
    }
    .call_main {
        width: 70%;
    }

    .banner_taital_1 {
        padding-top: 100px;
    }

    .services_section_2 {
        margin-top: 0;
    }

    p.chunks_text {
        width: 100%;
    }

    .about_taital_main {
        padding-left: 15px;
        padding-top: 60px;
    }

    .image {
        min-height: 215px;
    }

    #custom_slider a.carousel-control-next {
        right: initial;
        left: -70px;
        top: 80px;
    }

    #custom_slider a.carousel-control-prev {
        left: -130px;
        right: initial;
        top: 80px;
    }

    .consectetur_text {
        font-size: 18px;
    }

    .client_right {
        padding-top: 22px;
    }

    #main_slider a.carousel-control-next {
        right: 20px;
        top: 180px;
    }

    #main_slider a.carousel-control-prev {
        left: 20px;
        top: 180px;
    }

    .contact_main {
        width: 70%;
    }

    .contact_taital {
        font-size: 40px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    .overlay-content {
        top: 50px;
    }

    #my_slider a.carousel-control-next {
        top: 115%;
    }
    #my_slider a.carousel-control-prev {
        top: 115%;
    }
    .call_main {
        display: none;
    }

    .menu_text {
        float: right;
    }

    .banner_taital_1 {
        font-size: 30px;
        padding-top: 60px;
    }

    .banner_section {
        padding-bottom: 90px;
    }

    .banner_taital {
        font-size: 30px;
    }

    .banner_text {
        font-size: 15px;
    }

    .contact_bt {
        width: 137px;
    }

    .more_bt {
        width: 137px;
    }

    .services_section_2{
        margin-top: 0px;
    }

    p.chunks_text {
        width: 100%;
        font-size: 15px;
    }

    .about_taital_main {
        padding-left: 30px;
        padding-top: 40px;
    }

    .about_taital {
        font-size: 30px;
    }

    .read_bt {
        margin-top: 0px;
    }

    .about_img img {
        height: 380px;
    }

    .portfolio_section {
        width: 100%;
        padding-bottom: 90px;
    }

    .image {
        min-height: 200px;
    }

    .customer_section_2 {
        width: 100%;
    }

    .client_box {
        padding: 30px 10px;
    }

    .consectetur_text {
        font-size: 15px;
    }

    .lorem_text {
        font-size: 14px;
    }
    .client_right {
        padding-top: 20px;
    }

    .newsletter_taital {
        font-size: 30px;
    }

    .get_bt {
        padding-top: 30px;
    }

    .location_text li {
        padding: 0px 30px 30px 30px;
    }

    .frorm_box {
        width: 60%;
    }

    #custom_slider a.carousel-control-prev {
        left: -90px;
        right: initial;
        top: 210px;
        display: none;
    }

    #custom_slider a.carousel-control-next {
        right: initial;
        left: -90px;
        top: 140px;
        display: none;
    }

    .contact_main {
        width: 70%;
    }

    .contact_taital {
        font-size: 40px;
    }


}

@media (min-width: 576px) and (max-width: 767px) {
    
    .overlay-content {
        top: 50px;
    }

    #my_slider a.carousel-control-next {
        top: 97%;
    }
    #my_slider a.carousel-control-prev {
        top: 97%;
    }
    .call_main {
        display: none;
    }

    .menu_text {
        float: right;
    }

    .banner_taital_1 {
        font-size: 30px;
        padding-top: 60px;
    }

    .banner_taital {
        font-size: 30px;
    }

    .banner_text {
        font-size: 15px;
    }

    .contact_bt {
        width: 137px;
    }

    .more_bt {
        width: 137px;
    }

    .services_taital {
        font-size: 30px;
    }

    .services_section_2 {
        padding: 60px 0px;
        margin-top: 0;
    }

    p.chunks_text {
        width: 100%;
        font-size: 15px;
    }

    .house_icon {
        margin-top: 20px;
    }

    .about_taital_main {
        padding-left: 0px;
        padding-top: 90px;
    }

    .about_taital {
        font-size: 29px;
    }

    .padding_right0 {
        padding: 0px;
    }

    .read_bt {
        margin-top: 0;
    }

    .about_section {
        margin-bottom: 0px;
    }

    .portfolio_section {
        width: 100%;
    }

    .portfolio_taital {
        font-size: 30px;
    }

    .image {
        height: auto;
        min-height: auto;
    }

    .container_main {
        margin-top: 20px;
    }

    .company_taital {
        font-size: 25px;
    }

    .company_text {
        padding: 30px 0px;
    }

    .customer_taital {
        font-size: 30px;
    }

    .client_left {
        width: 100%;
    }
    .client_middle {
        width: 100%;
        padding: 10px 0px;
    }
    .client_right {
        width: 100%;
    }

    .customer_section_2 {
        width: 100%;
    }

    .client_box {
        display: block;
        padding: 20px 19px;
        text-align: center;
    }
    .client_text {
        float: none;
    }

    #main_slider a.carousel-control-prev {
        left: 20px;
        top: 240px;
    }

    #main_slider a.carousel-control-next {
        right: 20px;
        top: 240px;
    }

    .client_img {
        float: none;
    }

    .lorem_text {
        float: none;
    }

    .newsletter_taital {
        font-size: 30px;
    }

    .get_bt {
        width: 290px;
        padding-top: 30px;
    }
    .dummy_text {
        font-size: 15px;
        padding-top: 20px;
    }

    .location_text li {
        padding: 0px 10px 0px 0px;
    }

    .frorm_box {
        width: 100%;
    }

    #custom_slider a.carousel-control-prev {
        left: -90px;
        right: initial;
        top: 210px;
        display: none;
    }

    #custom_slider a.carousel-control-next {
        right: initial;
        left: -90px;
        top: 140px;
        display: none;
    }

    .contact_main {
        width: 100%;
    }

    .contact_taital {
        font-size: 30px;
    }
}

@media (max-width: 575px) {
    
    .overlay-content {
        top: 50px;
    }
    .call_main {
        display: none;
    }

    .menu_text {
        float: right;
    }

    .banner_taital_1 {
        font-size: 30px;
        padding-top: 60px;
    }

    .banner_taital {
        font-size: 30px;
    }

    .banner_text {
        font-size: 15px;
    }

    .contact_bt {
        width: 137px;
    }

    .more_bt {
        width: 137px;
    }

    .services_taital {
        font-size: 30px;
    }

    .services_section_2 {
        padding: 60px 0px;
        margin-top: 0;
    }

    p.chunks_text {
        width: 100%;
        font-size: 15px;
    }

    .house_icon {
        margin-top: 20px;
    }

    .about_taital_main {
        padding-left: 0px;
        padding-top: 90px;
    }

    .about_taital {
        font-size: 29px;
    }

    .padding_right0 {
        padding: 0px;
    }

    .read_bt {
        margin-top: 0;
    }

    .about_section {
        margin-bottom: 0px;
    }

    .portfolio_section {
        width: 100%;
    }

    .portfolio_taital {
        font-size: 30px;
    }

    .image {
        height: auto;
        min-height: auto;
    }

    .container_main {
        margin-top: 20px;
    }

    .company_taital {
        font-size: 25px;
    }

    .company_text {
        padding: 30px 0px;
    }

    .customer_taital {
        font-size: 30px;
    }

    .client_left {
        width: 100%;
    }
    .client_middle {
        width: 100%;
        padding: 10px 0px;
    }
    .client_right {
        width: 100%;
    }

    .customer_section_2 {
        width: 100%;
    }

    .client_box {
        display: block;
        padding: 20px 19px;
        text-align: center;
    }
    .client_text {
        float: none;
    }

    #main_slider a.carousel-control-prev {
        left: 0;
        top: 240px;
    }

    #main_slider a.carousel-control-next {
        right: 0;
        top: 240px;
    }

    #custom_slider a.carousel-control-prev {
        left: -90px;
        right: initial;
        top: 210px;
        display: none;
    }
    #custom_slider a.carousel-control-next {
        right: initial;
        left: -90px;
        top: 140px;
        display: none;
    }

    .client_img {
        float: none;
    }

    .lorem_text {
        float: none;
    }

    .newsletter_main {
        display: block;
    }

    .newsletter_taital {
        font-size: 28px;
    }

    .get_bt {
        width: 290px;
    }
    .dummy_text {
        font-size: 15px;
        padding-top: 20px;
    }

    .location_text li {
        padding: 0px 10px 0px 0px;
    }

    .frorm_box {
        width: 100%;
    }

    .contact_main {
        width: 100%;
    }

    .contact_taital {
        font-size: 30px;
    }

}